/* section 영역 내부 여백 (좌,우 64px, 상,하 16px), 가운데 정렬 */
.section {
  padding: 16px 64px;
  text-align: center;
}
/* section__tag 글자크기, 색상 변수 지정(--font-size-tag,--color-sub )  */
.section__tag {
  font-size: var(--font-size-tag);
  color: var(--color-sub);
}
/* .section__title 글자크기, 색상 변수 지정(--font-size-title,--color-text ), 굵게 */
.section__title {
  font-size: var(--font-size-title);
  color: var(--color-text);
  font-weight: bold;
}
/* 769 main : grid , 컬럼 2개 전체 영역 50:50*/
@media (min-width: 769px) {
  main {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
