* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 60rem;
  width: 100%;
  margin: 2rem auto;
  display: flex;
  gap: 1em;
}
.container .sidebar {
  width: 20%;
  padding: 10px;
  color: white;
}
.container main {
  order: 2;
}
.container .left {
  order: 1;
  background-color: #3498db;
}
.container .right {
  order: 3;
  background-color: #34495e;
}
