* {
  margin: 0;
  padding: 0;
}

/* 
    flex

    1) flex container에 설정하는 속성
    - display : flex
    - flex-direction : row (default) / column (vertical)
    - justify-content : 메인 축에서 내부 요소를 정렬하는 방식
        - flex-start :start from left(row) right(row-reverse) top(column) bottom(column-reverse)
        - flex-end 
        - center 
        - space-between : no outer space, between spaces are same size
        - space-around : have outer spaces (that have 1/2 inner space size)  
        - space-evenly : have same size outer, inner spaces 
*/

.container {
  /* height: 1500px; */
  border: 4px solid;
  display: flex;
  gap: 1em;
}

.container div {
  /* margin: 0 2px; */
  width: 33.3%;
  height: 200px;
  background-color: beige;
}
