* {
  margin: 0;
  padding: 0;
}

/* 
    flex

    1) flex container에 설정하는 속성
    - display : flex
    - flex-direction : row (default) / column (vertical)
    - justify-content : 메인 축에서 내부 요소를 정렬하는 방식
        - flex-start :start from left(row) right(row-reverse) top(column) bottom(column-reverse)
        - flex-end 
        - center 
        - space-between : no outer space, between spaces are same size
        - space-around : have outer spaces (that have 1/2 inner space size)  
        - space-evenly : have same size outer, inner spaces 
    - align-items : 보조 축에서 내부 요소를 정렬하는 방식 (보조축이 고려할 요소가 하나)
        - stretch : 
        - flex-start 
        - flex-end
        - center
    - flex-wrap : nowrap(default), wrap(linebreak)
    - align-content : flex-wrap이 wrap인 상태에서 사용 (보조축 고려 요소가 2개 이상)
        - flex-start
        - center
        - flex-end
        - space-between
        - space-around
        - space-evenly

  2) flex 자식들에게 부여하는 속성
    - order: 숫자가 높을수록 우선순위가 밀림
    - flex
      -flex-grow : 요소의 증가 비율 설정
      -flex-shrink : 요소의 감소 비율 설정
      -flex-basis :content 
            컨텐츠를 포함해 비율을 지정

      -flex basis : auto (default)
            컨텐츠를 제외한 여백만 따져서 비율을 지정

*/

.container {
  height: 400px;
  display: flex;
  border: 2px solid;
}

.container div {
  width: 100px;
  height: 100px;
  border: 2px solid black;
  background-color: darkgreen;
}

/* .container div:first-child {
  flex-grow: 1;
} */
.container div:nth-child(3) {
  flex-grow: 1;
}
.container div:nth-child(4) {
  flex-grow: 2;
}
.container div:nth-child(5) {
  flex-grow: 1;
}
/* .container div:last-child {
  order: -1;
} */

.container2 {
  display: flex;
}

.container2 div {
  width: 200px;
  height: 100px;
  background-color: tomato;
  border: 2px dashed red;
  display: flex;
  justify-content: center;
  align-items: center;
  /* flex-grow: 1; */
  /* flex-basis: content; */
  flex: 1 1 auto;
}

.container2 div:last-child {
  flex-grow: 2;
}
