* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  min-height: 100%;
}

.container {
  background: yellow;
  height: 100px;
}

/* 기본: 1280px보다 큰 데스크톱 화면 */
body {
  background: url("../data/bg0.jpg") no-repeat center center fixed;
  background-size: cover;
}

/* 태블릿 가로 및 저해상도 노트북 */
@media screen and (max-width: 1280px) {
  body {
    background-image: url("../data/bg0.jpg");
  }
}

/* 태블릿 세로 */
@media screen and (max-width: 1024px) {
  body {
    background-image: url("../data/bg1.jpg");
  }
}

/* 저해상도 태블릿 */
@media screen and (max-width: 767px) {
  body {
    background-image: url("../data/bg2.jpg");
  }
}

/* 스마트폰 */
@media screen and (max-width: 480px) {
  body {
    background-image: url("../data/bg3.jpg");
  }
}
