#square {
  width: 124px;
  height: 124px;
  border-radius: 10%;
  position: absolute;
  top: 108px;
  left: 24px;

  /* transition: all 1s; */
  /* ease-in 천천히 가다가 점점 빠르게 */
  /* transition: 500ms ease-out 500ms; */
  transition:
    left 1s ease-in-out 1s,
    background-color 1s,
    transform 1s;
}

#left:not(:checked) ~ div {
  left: 24px;
}

#left:checked ~ div {
  left: 400px;
}

#color:not(:checked) ~ div {
  background-color: tomato;
}
#color:checked ~ div {
  background-color: blue;
}

#trans:not(:checked) ~ div {
  transform: scale(1) rotate(0deg);
}

#trans:checked ~ div {
  background-color: burlywood;
  transform: scale(0.5) rotate(360deg);
}
