/* CSS 변수: -- (대시를 두번 앞에 붙임) */
@import url(./common.css);

body {
  margin: 0px;
  padding: 24px;
}

.not-good {
  text-decoration: var(--not-good);
}
.wrong {
  text-decoration: var(--wrong);
}

u {
  background-color: var(--warn, lightblue);
}
p {
  font-size: var(--font-x-large);
}
